@charset "utf-8";
tr td p {
    text-align: justify;
    color: #FFFFFF;
    border-right-style: 6;
    border-left-style: 6;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}
#content {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
#content {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
p em img {
    clear: both;
    padding-left: 19px;
    padding-right: 19px;
    float: left;
}
